services:
  postgres:
    image: postgres:16-alpine
    env_file:
      - techfood.env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - ./postgres:/docker-entrypoint-initdb.d

  usu_backend:
    image: usu_backend:latest
    container_name: usu_backend
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    env_file:
      - techfood.env
    depends_on:
      - postgres
    ports:
      - "8080:8080"

volumes:
  postgres_data:
